body{
	height: 100%;
	width: 100%;
	color: #6b5846;
	background: image-url('aminko/body_bg.jpg');
	font-size: 13px;
}

h1{
	padding-top: 20px;
	font-size: 26px;
	line-height: 32px;
	background: image-url('aminko/line_dot.png') repeat-x 0 0;
}
h2{
	font-size: 18px;
	line-height: 28px;
}
h3{
	font-size: 16px;
	line-height: 23px;
}
h4{
	font-size: 14px;
	line-height: 20px;
}

hr{
	border-top: 1px dotted #666;
}
p, ul{
	margin: 18px 0;
}

.wrapper{
	width: 1000px;
	margin: 0 auto;
}

.header{
	@extend .wrapper;
	position: relative;
	height: 212px;
	margin-top: 0;
	margin-bottom: 20px;
	background: image-url('aminko/header_bg.jpg') -2px 0;
    background-size: 108%;
	border: 1px solid white;
    border-top: none;

	a{
		color: #d7d2be;
		text-decoration: none;

		&:hover{
			color: #fff;
			text-decoration: none;
		}
	}

	.logo{
		position: absolute;
		left: 300px;
		top: 20px;
		width: 345px;
		height: 130px;
		text-decoration: none;
		background: transparent;
	}

	.feedback{
		position: absolute;
		right: 35px;
		top: 15px;
		text-align: right;

		.feedback-link{
			display: inline-block;
			font-size: 14px;
			background: image-url('aminko/sendmail.png') no-repeat left top;
			padding: 4px 0 4px 30px;
		}

		.feedback-phone{
			height: 23px;
			width: 205px;
			margin: 10px 0 0 0;
			color: #d7d2be;
			font-size: 24px;
		}
	}

	.menu{
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		margin: 0;
		padding: 12px 0;
		list-style: none;
		text-align: center;

		li{
			display: inline-block;
			margin: 0 25px;
			font-size: 14px;
			text-transform: uppercase;
		}
	}
}

.carousel{
	margin: 0 0 40px;

	.carousel-caption{
		left: 45px;
		top: 25px;
		right: auto;
		bottom: auto;
		width: 330px;
		padding: 20px 24px;
		text-align: center;
		background-color: rgba(63, 42, 23, 0.65);

		h2{
			margin: 0;
			font-size: 15px;
			line-height: 24px;
			text-transform: uppercase;
			font-weight: 400;
		}
		p{
			margin: 0;
		}
	}

	.carousel-control{
		cursor: pointer;
	}
}

.main{
	@extend .wrapper;
	box-sizing: border-box;
	margin-top: 14px;
	padding: 23px 23px 20px;
	background: #f9f7f3;
	border: 1px solid white;

}

.footer{
	@extend .wrapper;
	display: table;
	box-sizing: border-box;
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 5px 23px;
	background: #f9f7f3;
	border: 1px solid white;
	font-size: 12px;

	.footer-cell{
		display: table-cell;
		width: 25%;
		vertical-align: middle;

		p{
			margin: 2px 0;
		}

		.phone{
			font-size: 18px;
		}

		.feedback{
			display: inline-block;
			font-size: 14px;
			background: image-url('aminko/sendmail.png') no-repeat left top;
			padding: 4px 0 4px 30px;
		}

		.create{
			white-space: nowrap;

			img{
				vertical-align: middle;
				height: 16px;
			}
		}
	}
}

.insert-img{
	display: inline-block;
	margin: 0 2px;
	vertical-align: top;
	
	img{
		vertical-align: top;
	}
}